<div class="container-fluid">
    <div class="row">
        <div *ngIf="sideBarStatus" style="height: 91vh;" class="col-lg-1 bg-dark d-flex flex-column p-3">
            <a class="mb-3 fw-bolder" style="text-decoration: none; color: white;" routerLink="/dashboard">Home</a>
            <a class="mb-3 fw-bolder" style="text-decoration: none; color: white;" routerLink="/users">Users</a>
            <button (click)="onLogout()" class="ps-0 btn text-light mt-auto fw-bolder">Logout</button>
        </div>
        <div class="col">
            <div class="row mt-2">
                <div class="col-lg-8">
                    <div style="height: 140px; background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDsaRqzVXylH_7kUft-bdKFszsf2Pt00_fRg&s'); background-size: cover;" class="d-flex banner rounded p-3 align-items-center shadow">
                        <h1 class="text-light">
                            <i (click)="menuBtnClicked()" class="fa-solid fa-bars btn text-light fa-1x"></i>
                            Welcome {{adminName}}

                        </h1>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <app-calander></app-calander>
                        </div>
                        <div class="col-lg-6">
                            <app-chart></app-chart>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div style="height: 370px;" class="rounded p-2 border shadow">
                        <app-edit-admin (onAdminChange)="adminChange($event)"></app-edit-admin>
                    </div>
                    <div style="height: 100px; background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDsaRqzVXylH_7kUft-bdKFszsf2Pt00_fRg&s'); background-size: cover;" class="d-flex banner rounded p-3 align-items-center shadow mt-2">
                        <h5 class="text-light">
                            <i class="fa-solid fa-users btn text-white fa-1px"></i>
                            Total Employee Count : <span class="text-light">{{userCount}}</span>

                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
